# Welcome to Homework II

### Please read the instructions in both the instructions.pdf (on Moodle) and in this notebook very carefully!

**The following instructions are binding**:

* Other than ```pandas```, no further other library imports are allowed. Both third-party imports and builtin modules are not allowed.
* Do not delete any of the ````%%writefile```` or ```%run``` statements.
* The cells containing the function definitions and the ```%%writefile``` magic should not have any other code than the function definition and the pre-defined statements including ```%writefile``` and ```import pandas as pd```/```from typing import ...```.  Make sure that the cell defining the function is cleared of other code after implementing the function code.
* Replace the `pass` placeholder with your own code.
* Do **not** change any function names.
* Do **not** modify or remove any existing line of code within each function, except that you may remove the `pass` placeholder.
* Ensure each function receives the required input and returns the required output.
* Answer the questions in order and and comment your code.

## Student Number #1: _20240266_

## Student Number #2: 20240660

## Library import

In [437]:
import pandas as pd

# Part I

#### 1) Create the **`load_retail_data(filepath: str)`** function which loads the Online Retail file (onlineretail.csv) into a pandas DataFrame and returns it. Call this function and save the result into a DataFrame called **`df`**:

In [438]:
%%writefile load_retail_data.py
import pandas as pd

# Function to load retail data from a CSV file
# Since we tried to read the CSV file initially with latin1 encoding and it failed
# We decided that exception handling is necessary , especially because we are dealing with I/O operations
def load_retail_data(filepath: str) -> pd.DataFrame:
    """
    Loads a retail CSV dataset into a pandas DataFrame.
    Handles missing file paths and encoding issues gracefully.
    """
    encoding = ['utf-8', 'latin1']
    try:
        # The default is utf-8 (we kept this to show that we are handling encoding exceptions)
        # It will get an error, the file is not utf-8 encoded
        df = pd.read_csv(filepath, sep=',')
        return df
    except FileNotFoundError:
        print(f"File not found: {filepath}")
    except UnicodeDecodeError:
        print(f"Encoding error while reading the file: {filepath}")
        print(f"Used {encoding[0]} encoding, will try to read the file again with {encoding[1]} encoding.")
        try : 
            df = pd.read_csv(filepath, sep=',', encoding= encoding[1])
            return df
        except Exception as e:
            print(f"An error occurred: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")

Overwriting load_retail_data.py

In [439]:
%run load_retail_data.py

df = load_retail_data("onlineretail.csv")
df.head()

Encoding error while reading the file: onlineretail.csv
Used utf-8 encoding, will try to read the file again with latin1 encoding.

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 2) Create the **`missing_values_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain null values in the** **`CustomerID`** **or** **`Description`** **columns.** Ensure that only nulls in these two columns are dropped, without affecting rows that have null values in other columns.

In [440]:
%%writefile missing_values_cleaner.py
import pandas as pd

# dropna pandas docs 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

def missing_values_cleaner(df: pd.DataFrame) -> pd.DataFrame:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    # dropna() method drops the null values in the dataframe
    # subset so that null values are found in these collums then we delete the rows
    # axis = index to delete the rows, the default is also rows deletion, but we want to show mastery of pandas usage
    df = df.dropna(subset=['CustomerID', 'Description'], axis='index')
    return df

Overwriting missing_values_cleaner.py

#### Call your `missing_values_cleaner` function on the original `df` below to view the results:

In [441]:
%run missing_values_cleaner.py
# Here the correct arguments should be added
missing_values_cleaner(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [442]:
# To check for the null values we can use the DataFrame .isna() 
# .isna() docs https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isna.html#pandas.DataFrame.isna

# Here we can see the number of missing values before and after cleaning
# In this case we can use .sum to check how many null values exist
# This works because the True and False mapped by isna() are treated like 1 or 0 like C, so sum() just sums it up

print("Before cleaning: \n")
print(df.isna().sum())

print("\nAfter cleaning: \n")
print(missing_values_cleaner(df).isna().sum())


# Unit testing

# before testing can we find any missing values? 
assert df['Description'].isna().any()
assert df['CustomerID'].isna().any()

# after testing we should not find any missing values

cleaned_df = missing_values_cleaner(df)
assert not cleaned_df['Description'].isna().any()
assert not cleaned_df['CustomerID'].isna().any()

Before cleaning:

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

After cleaning:

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

#### 3) Create the **`quantity_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain negative or 0 values in the** **`Quantity`** **column.**

In [443]:
%%writefile quantity_handler.py
import pandas as pd

# For this exercise we want to filter the rows that have 'Quantity > 0'
# We can use boolean logic such as df[df['Quantity'] > 0]
# We choosed to use query SQL WHERE conditional logic, df.query('Quantity > 0')
# Docs for DataFrame.query:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html

def quantity_handler(df: pd.DataFrame) -> pd.DataFrame:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    return df.query('Quantity > 0')

Overwriting quantity_handler.py

#### Call your `quantity_handler` function on the original `df` below to view the results:

In [444]:
%run quantity_handler.py

# Here the correct arguments should be added
quantity_handler(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [445]:
print("Before quantity handling: ")
print(df['Quantity'].min())

print("After quantity handling:")
print(quantity_handler(df)['Quantity'].min())

# Unit Testing

# Before it had some negative or zero values
assert (df['Quantity'] < 0).any()
assert df['Quantity'].min() <= 0

# After it should not , also min value should be over 0
assert not (quantity_handler(df)['Quantity'] < 0).any()
assert quantity_handler(df)['Quantity'].min() > 0

Before quantity handling:
-80995
After quantity handling:
1

#### 4) Create the **`amount_spent_computer`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame with an added column named** **`amount_spent`**. This column should represent the product of **`Quantity`** and **`UnitPrice`**.

In [446]:
%%writefile amount_spent_computer.py
import pandas as pd

def amount_spent_computer(df: pd.DataFrame) -> pd.DataFrame:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    # We add a new column called 'amount_spent' df['amount_spent'] 
    # Since we are going to multiply and save the result in the 'amount_spent' column
    # We need to treat missing values , by replacing them with 0 to avoid errors
    df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').fillna(0)
    df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce').fillna(0)
    df['amount_spent'] = df['Quantity'] * df['UnitPrice']
    return df

Overwriting amount_spent_computer.py

#### Call your `amount_spent_computer` function on the original `df` below to view the results:

In [447]:
%run amount_spent_computer.py

# PRINTING WITH THE ORIGINAL DATAFRAME
amount_spent_computer(df).head()

# Unit tests for amount_spent_computer(df: pd.DataFrame) (WE USE TESTING DATAFRAMES)

# Sample DataFrame
# Notice we considered combination of null/na values in both columns
df_test = pd.DataFrame({
    'Quantity': [1, 2, 3, None],
    'UnitPrice': [10, 20, None, 5]
})

# Compute result
result_df = amount_spent_computer(df_test)

# check if there is a line which 'amount_spent' value does not match the multiplication of the 'Quantity' column times 'UnitPrice'
assert not (result_df['amount_spent'] != result_df['Quantity'] * result_df['UnitPrice']).any()

#### 5) Create the **`date_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame without any invoices from the year 2011.**

In [448]:
%%writefile date_handler.py
import pandas as pd

# pandas to_datetime() docs : https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

def date_handler(df: pd.DataFrame) -> pd.DataFrame:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    # We will convert this column to datetime type, so we can use dt.year, dt.month, dt.day, etc.
    # For the arg passed in the to_datetime() method we pass a 1d Series that is the collumn 'InvoiceDate' of the DataFrame
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
    return df.query("InvoiceDate.dt.year != 2011")

Overwriting date_handler.py

#### Call your `date_handler` function on the original `df` below to view the results:

In [449]:
%run date_handler.py
# Here the correct arguments should be added
df_time_test = df.copy()
df_time_test['InvoiceDate'] = pd.to_datetime(df_time_test['InvoiceDate'])
print("Before Invoice handling: ")
print(df_time_test['InvoiceDate'].dt.year.unique())
print("After Invoice handling:")
print(date_handler(df)['InvoiceDate'].dt.year.unique())

# Unit Testing

df_test = pd.DataFrame({
    'InvoiceDate': ['2010-12-31', '2011-01-01', '2012-06-15']
})  

# Before testing we have 1 row with year 2011
assert (pd.to_datetime(df_test['InvoiceDate'], errors='coerce').dt.year == 2011).sum() == 1


# After testing we should not have any row with year 2011
cleaned_df = date_handler(df_test)
assert not (cleaned_df['InvoiceDate'].dt.year == 2011).any()

Before Invoice handling:
[2010 2011]
After Invoice handling:
[2010]

#### 6) Create the **`data_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after cleaning.** The cleaning process must follow the instructions provided inside the function.

In [450]:
%%writefile data_cleaner.py
import pandas as pd
from missing_values_cleaner import missing_values_cleaner
from quantity_handler import quantity_handler
from amount_spent_computer import amount_spent_computer
from date_handler import date_handler

def data_cleaner(df: pd.DataFrame) -> pd.DataFrame:
    
    """
    
    This function receives a Pandas DataFrame as input.

    First, pass the input DataFrame `df` to the `missing_values_cleaner`
    function, and store its output in a new variable called `clean`.
    Then, pass `clean` to the `quantity_handler` function and store its
    output (you may reuse the variable name `clean`).

    Next, pass the resulting DataFrame to the `amount_spent_computer`
    function, and then to the `date_handler` function. Finally, return
    the fully cleaned DataFrame.
    
    """
    # Even though 'returns the same DataFrame after cleaning' we choosed to make a deep copy of the dataframe
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    clean = quantity_handler(missing_values_cleaner(df))
    amount_spent_clean = amount_spent_computer(clean)
    fully_clean = date_handler(amount_spent_clean)
    return fully_clean

Overwriting data_cleaner.py

#### Now, before we proceed. We will clean our data using your **`data_cleaner`** function.

In [451]:
%run data_cleaner.py
# Here the correct arguments should be added
#perguntar professor, limpar todos os datasets
df = data_cleaner(df)

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

#### 7) Create the **`top_five_cust`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have placed the highest number of orders.** Note that the same invoice number (`InvoiceNo`) represents a single order, even if it appears across multiple rows! Be careful with these repetitions ;)

In [452]:
%%writefile top_five_cust.py
import pandas as pd

# To solve this exercise we want to find the top 5 customers by number of unique orders
# We can use groupby() method to group by CustomerID and then use nunique()
# groupby() docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html
# nunique() docs: https://pandas.pydata.org/docs/reference/api/pandas.Series.nunique.html


def top_five_cust(df: pd.DataFrame) -> list:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()

    # Remove the na CustomerID values
    df = df.dropna(subset=['CustomerID'], axis='index')

    # Number of unique orders per CustomerID
    order_counts = df.groupby('CustomerID')['InvoiceNo'].nunique()

    # Sort descending and take top 5
    top_customers = order_counts.sort_values(ascending=False).head(5)

    # Return CustomerIDs as a list
    return top_customers.index.tolist()

Overwriting top_five_cust.py

#### Call your `top_five_cust` function on the now cleaned `df` below to view the results:

In [453]:
%run top_five_cust.py
# Here the correct arguments should be added
#top_five_cust(df)
print(top_five_cust(df))

# Unit Testing
# Sample DataFrame size 10 rows

df_test = pd.DataFrame({
    'CustomerID': [1, 2, 1, 3, 2, 4, 5, 1, 2, None],
    'InvoiceNo': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
})

# Compute top five customers
top_customers = top_five_cust(df_test)

# Check if the length of the result list is 5 or less (in case there are less than 5 unique customers)
assert len(top_customers) <= 5

# Check if the top customer is indeed the one with the most unique orders
# CustomerID 1 has 3 unique orders (101, 103, 108)
assert top_customers[0] == 1
# CustomerID 2 has 3 unique orders (102, 105, 109)
assert top_customers[1] == 2
# CustomerID 3 has 1 unique order (104)
assert top_customers[2] == 3
# CustomerID 4 has 1 unique order (106)
assert top_customers[3] == 4
# CustomerID 5 has 1 unique order (107)
assert top_customers[4] == 5

[12748.0, 17850.0, 14911.0, 15061.0, 13777.0]

#### 8) Create the **`top_five_spenders`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have spent the most money.** Use the newly created **`amount_spent`** column for this exercise.

In [454]:
%%writefile top_five_spenders.py
import pandas as pd
from amount_spent_computer import amount_spent_computer

def top_five_spenders(df: pd.DataFrame) -> list:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()

    # Remove na CustomerID values
    df_clean = df.dropna(subset=['CustomerID'], axis='index')

    # Use previously defined amount_spent_computer function
    # After this we will have a new column 'amount_spent' in the dataframe
    df_with_amount_spent = amount_spent_computer(df_clean)

    # For customerID we get all amount_spent and sum it up
    total_spent = df_with_amount_spent.groupby('CustomerID')['amount_spent'].sum()

    # Sort descending and take top 5
    top_spenders = total_spent.sort_values(ascending=False).head(5)

    # Return CustomerIDs as a list
    return top_spenders.index.tolist()

Overwriting top_five_spenders.py

#### Call your `top_five_spenders` function on the now cleaned `df` below to view the results:

In [455]:
%run top_five_spenders.py
# Here the correct arguments should be added
top_five_spenders(df)

# Unit Testing
# Sample DataFrame size 10 rows

df_test = pd.DataFrame({
    'CustomerID': [1, 2, 1, 3, 2, 4, 5, 1, 2, None],
    'Quantity': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'UnitPrice': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})  

# Compute top five spenders
top_spenders = top_five_spenders(df_test)
# Check if the length of the result list is 5 or less (in case there are less than 5 unique customers)
assert len(top_spenders) <= 5
# Check if the top spender is indeed the one with the highest total amount spent
# CustomerID 1 spent: (1*10) + (3*30) + (8*80) = 740 
# CustomerID 2 spent: (2*20) + (5*50) + (9*90) = 1100
# CustomerID 3 spent: (4*40) = 160
# CustomerID 4 spent: (6*60) = 360
# CustomerID 5 spent: (7*70) = 490
# Therefore, the expected order is: [2, 1, 5, 4, 3]
assert top_spenders[0] == 2
assert top_spenders[1] == 1
assert top_spenders[2] == 5
assert top_spenders[3] == 4
assert top_spenders[4] == 3

#### 9) Create the **`most_expensive_item`** function, which receives a Pandas DataFrame as input and **returns a string representing the `Description` of the most expensive item.**

In [456]:
%%writefile most_expensive_item.py
import pandas as pd

# To find the most expensive item we can use the max() method on the 'UnitPrice' collumn
# Then we filter the dataframe to get the row with that max price and get the 'Description
# Docs for max() method:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.max.html
# Docs for iloc:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html
def most_expensive_item(df: pd.DataFrame) -> str:
     # Create a copy of the Dataframe so it does not modify the original reference
     df = df.copy()
     # We get the max price in the 'UnitPrice' collumn
     max_price = df['UnitPrice'].max()
     # We filter the dataframe to get the rows with the max price
     # We then get a Series with the 'Description' of the max price items
     # Since there could be multiple items with the same max price we use iloc[0] to get the first one
     most_expensive = df[df['UnitPrice'] == max_price]['Description'].iloc[0]
     return most_expensive

Overwriting most_expensive_item.py

#### Call your `most_expensive_item` function on the now cleaned `df` below to view the results:

In [457]:
%run most_expensive_item.py
# Here the correct arguments should be added
most_expensive_item(df)

# Unit Testing
# Sample DataFrame
df_test = pd.DataFrame({
    'Description': ['Item A', 'Item B', 'Item C'],
    'UnitPrice': [10.0, 20.0, 30.0]
})

# Compute most expensive item
most_expensive = most_expensive_item(df_test)
# Check if the most expensive item is correct (should be 'Item C')
assert most_expensive == 'Item C'

#### 10) Create the **`top_twenty_countries`** function, which receives a Pandas DataFrame as input and **returns a list of strings containing the 20 countries with the highest number of orders.** Note that this follows the same logic as question 7, so be careful with repeated orders (same invoice numbers)!

In [458]:
%%writefile top_twenty_countries.py
import pandas as pd
from typing import List


# To find the top twenty countries by number of unique orders
# First we can do a prevention check to delete any na values in the 'Country' column
# We can use groupby() method to group by Country and then use nunique()
# groupby() docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html
# nunique() docs: https://pandas.pydata.org/docs/reference/api/pandas.Series.nunique.html
def top_twenty_countries(df: pd.DataFrame) -> List[str]:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()

    # Remove na Country values
    clean_df = df.dropna(subset=['Country'], axis='index')

    # Number of unique orders per Country
    order_per_country = clean_df.groupby('Country')['InvoiceNo'].nunique()

    # Sort descending and take top 20 (we will get the highest 20 countries by number of unique orders)
    top_twenty_countries = order_per_country.sort_values(ascending=False).head(20)
    
    # Return Country names as a list (since we groupedBy Country the index will be the Country names)
    return top_twenty_countries.index.tolist()

Overwriting top_twenty_countries.py

#### Call your `top_twenty_countries` function on the now cleaned `df` below to view the results:

In [459]:
%run top_twenty_countries.py
# Here the correct arguments should be added
top_twenty_countries(df)

# Unit Testing
# Sample DataFrame size 26 rows
df_test = pd.DataFrame({
    'Country': ['A', 'B', 'A', 'C', 'B', 'D', 'E', 'A', 'B', 'C',
                'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
                'N', 'O', 'P', 'Q', 'R', None],
    'InvoiceNo': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
                    111, 112, 113, 114, 115, 116,
                    117, 118, 119, 120,
                    121, 122, 123, 124, 125, 126]
})

# Compute top twenty countries
top_countries = top_twenty_countries(df_test)
# Check if the length of the result list is 20 or less (in case there are less than 20 unique countries)
assert len(top_countries) <= 20
# Check if the top country is indeed the one with the most unique orders
# Country A has 3 unique orders (101, 103, 108)
assert top_countries[0] == 'A'
# Country B has 3 unique orders (102, 105, 109)
assert top_countries[1] == 'B'
# Country C has 2 unique orders (104, 110)
assert top_countries[2] == 'C'
# Country D has 2 unique orders (106, 111)
assert top_countries[3] == 'D'
# Country E has 2 unique orders (107, 112)
assert top_countries[4] == 'E'
# The rest of the countries have 1 unique order each , so they should be next
assert set(top_countries[5:]) == set(['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R'])

#### 11) Create the **`popular_products`** function, which receives a Pandas DataFrame as input and **returns a list of strings representing the descriptions (`Description`) of the 5 products purchased the most times.** Note that “number of times” refers only to how often an item was purchased, not the quantity of each order!

In [460]:
%%writefile popular_products.py
import pandas as pd
from typing import List

# We will have to find the top 5 most popular products by number of unique orders
# We can use groupby() method to group by Description and then use nunique()
# This means that we will get every description per unique InvoiceNo
# So we are essentially counting how many unique InvoiceNos each Description appears in
# So essentially how many times each product was ordered
def popular_products(df: pd.DataFrame) -> List[str]:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    # First lets drop any rows with missing values in the 'Description' column (to avoid possible errors)
    df = df.dropna(subset=['Description'], axis='index')
    # Check number of times every product was ordered (in distinct Invoices)
    top_products = df.groupby('Description')['InvoiceNo'].nunique().sort_values(ascending=False).head(5)
    # Het the product descriptions as a list
    top_products_list = top_products.index.tolist()
    return top_products_list

Overwriting popular_products.py

#### Call your `popular_products` function on the now cleaned `df` below to view the results:

In [461]:
%run popular_products.py
# Here the correct arguments should be added
popular_products(df)

# Unit Testing
# Sample DataFrame size 10 rows
df_test = pd.DataFrame({
    'Description': ['Product A', 'Product B', 'Product A', 'Product C ', 'Product B',
                    'Product D', 'Product E', 'Product A', 'Product B', 'Product F'],
    'InvoiceNo': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
})

# Compute popular products
popular_prods = popular_products(df_test)
# Check if the length of the result list is 5 or less (in case there are
assert len(popular_prods) <= 5
# Check if the top product is indeed the one with the most unique orders
# Product A has 3 unique orders (101, 103, 108)
assert popular_prods[0] == 'Product A'
# Product B has 3 unique orders (102, 105, 109)
assert popular_prods[1] == 'Product B'
# Product C has 1 unique order (104)
assert popular_prods[2] == 'Product C '
# Product D has 1 unique order (106)
assert popular_prods[3] == 'Product D'
# Product E has 1 unique order (107)
assert popular_prods[4] == 'Product E'

#### 12) Create the **`country_best_product`** function, which receives a Pandas DataFrame and a string as input. The string represents a country. The function must **return** `None` if the country is not present in the DataFrame. Otherwise, it should **return the description of the item that is most frequently purchased in that country.** Remember that “most frequently purchased” refers to how often the item appears, not the quantity purchased.

In [ ]:
%%writefile country_best_product.py
import pandas as pd

def country_best_product(df: pd.DataFrame, country: str) -> str:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    
    # Remove na Country values
    clean_df = df.dropna(subset=['Country'], axis='index')

    # Filter to only get dataframe rows that are equal to the country
    country_df = df[df['Country'] == country]
    
    if country_df.empty:
        return None

    # Get counting of product descriptions per country    
    # sort_values(ascending=False) to sort by most ordered
    product_sales = country_df.groupby('Country')['Description'].value_counts().sort_values(ascending=False)

    # Get head(1) to get the most ordered product order per country
    best_product = product_sales.head(1)
    return best_product.index[0][1]

Overwriting country_best_product.py

#### Call your `country_best_product` function on the now cleaned `df` and "Portugal" below to view the results:

In [463]:
%run country_best_product.py
# Here the correct arguments should be added
print(country_best_product(df,"Portugal"))

# Unit test 

# Create a simple DataFrame
df_test = pd.DataFrame({
    'Country': ['United Kingdom', 'United Kingdom', 'United Kingdom',
                'France', 'France', None],
    'Description': ['Apple', 'Banana', 'Apple', 'Banana', 'Orange', 'Apple']
})

# --- Test 1: UK has 'Apple' most often ---
best_uk = country_best_product(df_test, 'United Kingdom')
assert best_uk == 'Apple', f"Expected 'Apple' but got {best_uk}"

# --- Test 2: France has 'Banana' most often ---
best_fr = country_best_product(df_test, 'France')
assert best_fr == 'Banana', f"Expected 'Banana' but got {best_fr}"

# --- Test 3: Missing or invalid country returns None ---
best_none = country_best_product(df_test, 'Germany')
assert best_none is None, f"Expected None but got {best_none}"

# --- Test 4: NaN country rows are ignored ---
df_with_nan = pd.DataFrame({
    'Country': [None, 'France', 'France'],
    'Description': ['Apple', 'Orange', 'Orange']
})
best_fr_nan = country_best_product(df_with_nan, 'France')
assert best_fr_nan == 'Orange', f"Expected 'Orange' but got {best_fr_nan}"

POSTAGE

# Part II

#### 13) Create the **`load_customer_data(filepath: str)`** function which loads the **`customer_info.csv`** file into a Pandas DataFrame and returns it. Call this function and save the result into a DataFrame named **`customers`**.

In [464]:
%%writefile load_customer_data.py
import pandas as pd

def load_customer_data(filepath: str) -> pd.DataFrame:
    """
    Loads a customer CSV dataset into a pandas DataFrame.
    Handles missing file paths and encoding issues gracefully.
    """
    encoding = ['utf-8', 'latin1']
    try:
        df = pd.read_csv(filepath, sep=',')
        return df
    except FileNotFoundError:
        print(f"File not found: {filepath}")
    except UnicodeDecodeError:
        print(f"Encoding error while reading the file: {filepath}")
        print(f"Used {encoding[0]} encoding, will try to read the file again with {encoding[1]} encoding.")
        try : 
            df = pd.read_csv(filepath, sep=',', encoding= encoding[1])
            return df
        except Exception as e:
            print(f"An error occurred: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")

Overwriting load_customer_data.py

In [465]:
# Use the loading function with the file paths. Replace '...' with the path to 'customer_info.csv'
%run load_customer_data.py
# Here the correct arguments should be added
customers = load_customer_data("customer_info.csv")

customers.head()

,CustomerID,FirstName,LastName,Email,Phone,Age,YearsActive,NumChildren,VIP,EstimatedAnnualSpend
0,17850.0,Rowan,White,rowan.white0.0@mail.test,+6-642-419-1833,56,11,2,No,5352.29
1,13047.0,Casey,Johnson,casey.johnson7.0@sample.net,+5-208-357-5102,20,2,1,No,1554.88
2,12583.0,Morgan,Harris,morgan.harris3.0@sample.net,+1-877-772-1298,34,7,2,No,3396.24
3,13748.0,Casey,Harris,casey.harris8.0@demo.org,+5-854-311-7228,56,5,4,No,1243.36
4,15100.0,Riley,Thompson,riley.thompson0.0@mail.test,+2-818-901-1646,42,1,3,No,661.39

#### 14) Create the **`average_age`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should use the one created in exercise 7) to obtain the list of the top 5 customers, and then **return a float representing the average age of these top 5 customers (those who placed the most orders).**

In [ ]:
%%writefile average_age.py
import pandas as pd
from top_five_cust import top_five_cust


def average_age(df, customers) -> float:
    # Create a copy of the Dataframe so it does not modify the original reference
    df = df.copy()
    customers = customers.copy()
    
    list_top_five_customers = top_five_cust(df)
    customers_top_five = customers[customers['CustomerID'].isin(list_top_five_customers)]
    # check if there is indentical ids 
    age_average = customers_top_five['Age'].mean()
    return age_average

Overwriting average_age.py

#### Call your `average_age` function on the now cleaned `df` and `customers` below to view the results:

In [467]:
%run average_age.py
# Here the correct arguments should be added
average_age(df, customers)

nan

#### 15) Create the **`most_active`** function, which takes the customer DataFrame as input and **returns a list of strings containing the emails of the customers who have been active for the longest period of time (`YearsActive`).**

In [468]:
%%writefile most_active.py
import pandas as pd
from typing import List

def most_active(customers) -> List[str]:
    customers = customers.copy()
    most_active_time = customers['YearsActive'].max()
    customers_most_active = customers[customers['YearsActive'] == most_active_time]
    # Improve this to return unique emails only 
    return list(customers_most_active['Email'].unique())

Overwriting most_active.py

#### Call your `most_active` function on the `customers` DataFrame below to view the results:

In [469]:
%run most_active.py
# Here the correct arguments should be added
# INVESTIGAR 
most_active(customers)

['reese.taylor9.0@example.com',
 'elliot.martin1.0@no-reply.io',
 'parker.harris1.0@example.com',
 'avery.king1.0@demo.org',
 'cameron.martin7.0@demo.org',
 'hayden.clark5.0@mail.test',
 'reese.taylor5.0@sample.net',
 'blake.clark8.0@sample.net',
 'jamie.lee7.0@mail.test',
 'alex.walker5.0@demo.org',
 'elliot.young5.0@mail.test',
 'jordan.thomas6.0@no-reply.io',
 'blake.king1.0@no-reply.io',
 'alex.thompson0.0@example.com',
 'sam.white0.0@example.com',
 'blake.lee5.0@example.com',
 'cameron.jackson1.0@sample.net',
 'elliot.clark8.0@mail.test',
 'rowan.young3.0@no-reply.io',
 'blake.jackson2.0@sample.net',
 'casey.lee8.0@example.com',
 'rowan.thomas2.0@demo.org',
 'rowan.allen6.0@example.com',
 'jordan.white9.0@sample.net',
 'jamie.king8.0@demo.org',
 'alex.lee4.0@sample.net',
 'logan.anderson8.0@mail.test',
 'avery.walker1.0@example.com',
 'logan.young9.0@demo.org',
 'logan.thomas4.0@example.com',
 'jamie.garcia4.0@no-reply.io',
 'reese.clark5.0@sample.net',
 'elliot.lee4.0@mail.test',
 'avery.young0.0@demo.org',
 'elliot.king1.0@sample.net',
 'morgan.taylor2.0@sample.net',
 'morgan.harris1.0@demo.org',
 'taylor.king3.0@no-reply.io',
 'reese.anderson0.0@no-reply.io',
 'jordan.walker9.0@sample.net',
 'cameron.walker6.0@mail.test',
 'blake.allen2.0@demo.org',
 'morgan.thompson8.0@mail.test',
 'quinn.lee2.0@mail.test',
 'casey.johnson6.0@no-reply.io',
 'parker.harris5.0@no-reply.io',
 'quinn.smith2.0@sample.net',
 'riley.allen2.0@example.com',
 'jamie.thomas2.0@mail.test',
 'jordan.harris8.0@example.com',
 'taylor.martin1.0@example.com',
 'logan.garcia5.0@example.com',
 'quinn.garcia1.0@mail.test',
 'hayden.young6.0@example.com',
 'hayden.clark0.0@demo.org',
 'casey.smith8.0@demo.org',
 'blake.thompson4.0@no-reply.io',
 'jamie.smith7.0@example.com',
 'rowan.thompson9.0@example.com',
 'alex.lee7.0@demo.org',
 'parker.lee0.0@sample.net',
 'parker.jackson6.0@demo.org',
 'drew.king9.0@mail.test',
 'avery.taylor5.0@mail.test',
 'sam.young6.0@example.com',
 'cameron.allen2.0@demo.org',
 'logan.white2.0@example.com',
 'elliot.young8.0@no-reply.io',
 'rowan.king0.0@demo.org',
 'taylor.white3.0@mail.test',
 'hayden.king2.0@mail.test',
 'morgan.thompson0.0@example.com',
 'blake.lewis2.0@example.com',
 'casey.martin5.0@demo.org',
 'elliot.lewis1.0@demo.org',
 'jordan.walker1.0@mail.test',
 'drew.taylor7.0@example.com',
 'sam.taylor0.0@sample.net',
 'riley.white6.0@demo.org',
 'sam.white6.0@mail.test',
 'jamie.johnson6.0@example.com',
 'logan.clark0.0@sample.net',
 'cameron.smith2.0@mail.test',
 'jamie.brown5.0@mail.test',
 'casey.king4.0@sample.net',
 'morgan.brown0.0@mail.test',
 'morgan.thomas7.0@sample.net',
 'cameron.clark5.0@demo.org',
 'taylor.jackson6.0@demo.org',
 'parker.taylor7.0@sample.net',
 'elliot.taylor0.0@mail.test',
 'cameron.clark7.0@sample.net',
 'rowan.young2.0@no-reply.io',
 'cameron.taylor3.0@example.com',
 'chris.smith8.0@demo.org',
 'chris.clark9.0@no-reply.io',
 'drew.clark5.0@demo.org',
 'casey.allen3.0@sample.net',
 'elliot.allen5.0@example.com',
 'riley.taylor1.0@example.com',
 'blake.white0.0@mail.test',
 'taylor.smith9.0@example.com',
 'riley.king5.0@sample.net',
 'jamie.thompson6.0@mail.test',
 'chris.clark0.0@no-reply.io',
 'reese.king4.0@example.com',
 'jamie.brown6.0@no-reply.io',
 'elliot.walker3.0@demo.org',
 'logan.brown9.0@example.com',
 'parker.king5.0@no-reply.io',
 'taylor.thomas2.0@mail.test',
 'avery.clark1.0@no-reply.io',
 'drew.martin3.0@demo.org',
 'alex.anderson6.0@example.com',
 'cameron.brown9.0@no-reply.io',
 'casey.allen6.0@no-reply.io',
 'taylor.smith2.0@mail.test',
 'riley.white3.0@sample.net',
 'morgan.allen6.0@sample.net',
 'sam.lee3.0@example.com',
 'logan.allen9.0@example.com',
 'morgan.thomas0.0@no-reply.io',
 'blake.king6.0@demo.org',
 'sam.thomas7.0@example.com',
 'jordan.lewis9.0@no-reply.io',
 'logan.brown6.0@demo.org',
 'hayden.brown1.0@demo.org',
 'rowan.walker9.0@demo.org',
 'sam.walker8.0@example.com',
 'parker.garcia6.0@example.com',
 'blake.garcia7.0@no-reply.io',
 'drew.thomas2.0@no-reply.io',
 'reese.taylor5.0@demo.org',
 'parker.king7.0@sample.net',
 'reese.lewis1.0@demo.org',
 'morgan.johnson4.0@no-reply.io',
 'parker.young8.0@example.com',
 'blake.taylor4.0@mail.test',
 'morgan.lewis2.0@example.com',
 'avery.taylor8.0@demo.org',
 'hayden.brown5.0@sample.net',
 'blake.johnson8.0@mail.test',
 'cameron.walker0.0@demo.org',
 'alex.thompson6.0@no-reply.io',
 'rowan.white5.0@example.com',
 'parker.young2.0@mail.test',
 'alex.king5.0@example.com',
 'sam.johnson5.0@example.com',
 'casey.walker7.0@demo.org',
 'blake.johnson4.0@sample.net',
 'alex.thomas6.0@example.com',
 'jamie.taylor9.0@sample.net',
 'drew.clark5.0@no-reply.io',
 'parker.jackson3.0@demo.org',
 'reese.king5.0@mail.test',
 'elliot.thomas5.0@example.com',
 'drew.young3.0@example.com',
 'riley.harris9.0@example.com',
 'sam.thomas5.0@sample.net',
 'cameron.thomas6.0@no-reply.io',
 'casey.hall1.0@demo.org',
 'casey.anderson8.0@mail.test',
 'elliot.harris9.0@mail.test',
 'reese.hall6.0@demo.org',
 'quinn.lee7.0@demo.org',
 'taylor.walker0.0@sample.net',
 'jordan.clark2.0@demo.org',
 'cameron.white4.0@no-reply.io',
 'rowan.lewis4.0@demo.org',
 'avery.clark6.0@demo.org',
 'blake.martin8.0@example.com',
 'parker.walker9.0@mail.test',
 'blake.jackson5.0@demo.org',
 'parker.young1.0@no-reply.io',
 'blake.jackson1.0@no-reply.io',
 'sam.martin6.0@demo.org',
 'quinn.allen2.0@demo.org',
 'alex.thomas6.0@no-reply.io',
 'jordan.taylor0.0@demo.org',
 'hayden.hall9.0@no-reply.io',
 'reese.lee8.0@demo.org',
 'taylor.thompson5.0@example.com',
 'riley.garcia3.0@sample.net',
 'taylor.garcia3.0@no-reply.io',
 'parker.martin8.0@example.com',
 'elliot.jackson9.0@demo.org',
 'morgan.clark2.0@sample.net',
 'jamie.anderson7.0@no-reply.io',
 'elliot.thompson6.0@example.com',
 'blake.anderson1.0@example.com',
 'chris.anderson9.0@example.com',
 'cameron.hall9.0@example.com',
 'chris.thompson1.0@no-reply.io',
 'drew.young9.0@demo.org',
 'alex.walker5.0@sample.net',
 'reese.anderson3.0@no-reply.io',
 'morgan.lewis5.0@no-reply.io',
 'reese.allen9.0@sample.net',
 'jordan.thomas8.0@mail.test',
 'avery.taylor8.0@mail.test',
 'cameron.thomas7.0@mail.test',
 'taylor.walker4.0@mail.test',
 'logan.walker0.0@demo.org',
 'chris.brown6.0@no-reply.io',
 'blake.taylor0.0@no-reply.io',
 'jamie.johnson9.0@mail.test',
 'avery.martin6.0@example.com',
 'alex.taylor9.0@sample.net',
 'riley.white2.0@demo.org',
 'jamie.anderson2.0@example.com',
 'parker.brown9.0@demo.org',
 'taylor.lewis4.0@demo.org',
 'casey.martin4.0@demo.org',
 'alex.smith2.0@no-reply.io',
 'reese.thompson8.0@sample.net',
 'reese.lewis9.0@demo.org',
 'morgan.lewis5.0@demo.org',
 'parker.martin2.0@mail.test',
 'morgan.young0.0@sample.net',
 'hayden.harris4.0@mail.test',
 'quinn.young7.0@example.com',
 'rowan.thompson1.0@demo.org',
 'avery.thompson0.0@example.com',
 'alex.harris6.0@example.com',
 'jordan.walker8.0@example.com',
 'drew.white7.0@example.com',
 'reese.lewis0.0@example.com',
 'parker.harris3.0@example.com',
 'elliot.anderson2.0@no-reply.io',
 'casey.brown6.0@demo.org',
 'avery.white8.0@example.com',
 'jamie.johnson7.0@demo.org',
 'jamie.brown1.0@no-reply.io',
 'alex.garcia9.0@no-reply.io',
 'avery.lewis4.0@example.com',
 'rowan.anderson1.0@sample.net',
 'rowan.harris4.0@sample.net',
 'avery.thompson8.0@mail.test',
 'blake.thomas0.0@sample.net',
 'drew.martin6.0@no-reply.io',
 'cameron.brown3.0@mail.test',
 'rowan.anderson2.0@no-reply.io',
 'chris.martin9.0@mail.test',
 'casey.jackson6.0@sample.net',
 'morgan.jackson7.0@mail.test',
 'chris.clark4.0@mail.test',
 'chris.thompson5.0@example.com',
 'drew.garcia3.0@demo.org',
 'rowan.garcia1.0@mail.test',
 'alex.thompson5.0@example.com',
 'hayden.allen2.0@sample.net',
 'rowan.walker5.0@mail.test',
 'jamie.thompson6.0@no-reply.io',
 'hayden.lewis0.0@demo.org',
 'chris.allen1.0@demo.org',
 'parker.johnson4.0@demo.org',
 'blake.lee4.0@example.com',
 'cameron.taylor1.0@no-reply.io',
 'rowan.lewis7.0@example.com',
 'sam.anderson5.0@example.com',
 'jordan.young1.0@sample.net',
 'jordan.young1.0@no-reply.io',
 'quinn.lee7.0@no-reply.io',
 'rowan.thompson9.0@no-reply.io',
 'chris.hall5.0@mail.test',
 'cameron.thompson0.0@demo.org',
 'cameron.walker0.0@mail.test',
 'avery.young7.0@demo.org',
 'hayden.clark4.0@demo.org',
 'jamie.young8.0@demo.org',
 'drew.taylor5.0@mail.test',
 'parker.harris0.0@example.com',
 'casey.clark9.0@example.com',
 'taylor.young7.0@mail.test',
 'logan.white4.0@demo.org',
 'parker.young9.0@demo.org',
 'sam.thomas3.0@demo.org',
 'taylor.lewis9.0@example.com',
 'casey.smith4.0@no-reply.io',
 'reese.brown4.0@demo.org',
 'rowan.king0.0@no-reply.io',
 'taylor.clark9.0@example.com',
 'rowan.lewis9.0@sample.net',
 'alex.young0.0@mail.test',
 'rowan.allen3.0@sample.net',
 'rowan.garcia2.0@example.com',
 'avery.taylor6.0@sample.net',
 'jordan.lewis0.0@mail.test',
 'rowan.thomas5.0@mail.test',
 'elliot.thomas5.0@sample.net',
 'jordan.lee7.0@sample.net',
 'avery.allen1.0@sample.net',
 'parker.thompson6.0@no-reply.io',
 'quinn.anderson4.0@sample.net',
 'hayden.taylor9.0@sample.net',
 'riley.anderson2.0@sample.net',
 'elliot.clark1.0@example.com',
 'reese.king9.0@sample.net',
 'quinn.smith4.0@example.com',
 'logan.johnson7.0@demo.org',
 'cameron.thomas1.0@no-reply.io',
 'elliot.young8.0@demo.org',
 'quinn.lee8.0@example.com',
 'parker.martin5.0@mail.test',
 'cameron.hall5.0@example.com',
 'drew.taylor2.0@example.com',
 'morgan.king1.0@example.com',
 'alex.harris8.0@example.com',
 'cameron.thomas2.0@demo.org',
 'logan.clark4.0@mail.test',
 'morgan.lee6.0@example.com',
 'jordan.lewis4.0@sample.net',
 'jordan.white4.0@no-reply.io',
 'logan.martin6.0@sample.net',
 'reese.white5.0@demo.org',
 'quinn.white9.0@sample.net',
 'rowan.anderson3.0@mail.test',
 'avery.hall3.0@no-reply.io',
 'jordan.lee9.0@mail.test',
 'avery.young0.0@example.com',
 'hayden.anderson4.0@mail.test',
 'hayden.martin7.0@mail.test',
 'blake.thompson5.0@sample.net',
 'reese.lee0.0@sample.net',
 'casey.harris9.0@demo.org',
 'avery.young6.0@sample.net',
 'jordan.lewis0.0@demo.org',
 'casey.harris3.0@no-reply.io',
 'elliot.walker9.0@mail.test',
 'chris.hall3.0@sample.net',
 'hayden.hall3.0@example.com',
 'logan.thompson1.0@example.com',
 'alex.walker3.0@mail.test',
 'chris.thomas1.0@demo.org',
 'jamie.thompson7.0@mail.test',
 'rowan.brown7.0@sample.net',
 'alex.smith7.0@example.com',
 'parker.lee7.0@no-reply.io',
 'quinn.smith6.0@mail.test',
 'jamie.young5.0@no-reply.io',
 'logan.king8.0@example.com',
 'blake.jackson0.0@sample.net',
 'rowan.thomas1.0@sample.net',
 'reese.brown2.0@mail.test',
 'cameron.lee4.0@demo.org',
 'rowan.thomas7.0@no-reply.io',
 'drew.thompson9.0@demo.org',
 'jamie.brown3.0@mail.test',
 'parker.harris4.0@mail.test',
 'alex.clark2.0@no-reply.io',
 'chris.young2.0@no-reply.io',
 'elliot.white4.0@mail.test',
 'drew.young7.0@demo.org',
 'taylor.walker5.0@no-reply.io',
 'elliot.clark3.0@mail.test',
 'quinn.johnson0.0@no-reply.io',
 'quinn.harris8.0@no-reply.io',
 'rowan.smith3.0@example.com',
 'morgan.allen8.0@mail.test',
 'riley.taylor7.0@mail.test',
 'taylor.king2.0@example.com',
 'quinn.king8.0@sample.net',
 'blake.taylor3.0@mail.test',
 'sam.thomas4.0@mail.test',
 'quinn.hall7.0@example.com',
 'hayden.garcia7.0@sample.net',
 'logan.anderson1.0@example.com',
 'reese.harris4.0@no-reply.io',
 'morgan.martin3.0@example.com',
 'cameron.lewis0.0@demo.org',
 'hayden.johnson5.0@demo.org',
 'blake.thomas0.0@mail.test',
 'sam.allen0.0@no-reply.io',
 'rowan.clark0.0@example.com',
 'jamie.anderson3.0@demo.org',
 'jamie.hall2.0@no-reply.io',
 'rowan.thomas2.0@mail.test',
 'elliot.white2.0@sample.net',
 'blake.thomas2.0@sample.net',
 'quinn.allen9.0@mail.test',
 'morgan.johnson6.0@demo.org',
 'riley.young2.0@example.com',
 'logan.brown5.0@example.com',
 'jordan.walker7.0@no-reply.io',
 'blake.garcia4.0@mail.test',
 'taylor.white6.0@example.com',
 'sam.jackson5.0@no-reply.io',
 'rowan.jackson3.0@demo.org',
 'cameron.lewis4.0@mail.test',
 'blake.johnson6.0@demo.org',
 'jordan.hall0.0@example.com',
 'casey.brown1.0@sample.net',
 'avery.thomas0.0@no-reply.io',
 'cameron.harris7.0@mail.test',
 'blake.harris9.0@sample.net',
 'sam.harris3.0@example.com',
 'cameron.lee7.0@no-reply.io']

#### 16) Create the **`parenthood_marketing`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a list of 5 strings representing the countries with the highest average number of children among their customers.**

In [470]:
%%writefile parenthood_marketing.py
import pandas as pd
from typing import List

def parenthood_marketing(df, customers) -> List[str]:
    df = df.copy()
    customers = customers.copy()
    customers_country = df.merge(customers, on='CustomerID')
    top_five_countries_with_most_children = customers_country.groupby('Country')['NumChildren'].mean().sort_values(ascending=False).head(5)
    return top_five_countries_with_most_children.index.tolist()

Overwriting parenthood_marketing.py

#### Call your `parenthood_marketing` function on the now cleaned `df` and `customers` below to view the results:

In [471]:
%run parenthood_marketing.py
# Here the correct arguments should be added
parenthood_marketing(df, customers)

['Italy', 'Denmark', 'Sweden', 'Lithuania', 'Finland']

#### 17) Create the **`babuska_clients`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a float representing the average age of the customers who purchased the** **`"HAND WARMER BABUSHKA DESIGN"`** **item.**

In [472]:
%%writefile babuska_clients.py
import pandas as pd

def babuska_clients(df, customers) -> float:
    df = df.copy()
    customers = customers.copy()
    #merge dataframes
    merged_df = df.merge(customers, on='CustomerID')
    print(merged_df.columns)
    merged_babushka_df = merged_df[merged_df['Description'] == "HAND WARMER BABUSHKA DESIGN"]
    return float(merged_babushka_df['Age'].mean())

Overwriting babuska_clients.py

#### Call your `babuska_clients` function on the now cleaned `df` and `customers` below to view the results:

In [473]:
%run babuska_clients.py
# Here the correct arguments should be added
babuska_clients(df, customers)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'amount_spent', 'FirstName',
       'LastName', 'Email', 'Phone', 'Age', 'YearsActive', 'NumChildren',
       'VIP', 'EstimatedAnnualSpend'],
      dtype='object')

46.67605633802817

# Part III

#### 18) Create the **`read_sport_dfs(teams_filepath: str, managers_filepath: str)`** function which loads the **`managers.csv`** and the **`teams.csv`** file into two Pandas DataFrames and returns them. Call this function and save the results into DataFrames named **`teams`** and **`managers`** respectively.

In [474]:
%%writefile read_sport_dfs.py
import pandas as pd
from typing import Tuple

def read_sport_dfs(teams_filepath: str, managers_filepath: str) -> Tuple[pd.DataFrame]:
    """
    Loads sports datasets into pandas DataFrames.
    Handles missing file paths and encoding issues gracefully.
    """
    encoding = ['utf-8', 'latin1']
    try:
        # The default is utf-8 (we kept this to show that we are handling encoding exceptions)
        # It will get an error, the file is not utf-8 encoded
        teams_df = pd.read_csv(teams_filepath, sep=',', encoding=encoding[0])
        managers_df = pd.read_csv(managers_filepath, sep=',', encoding=encoding[0])
        return (teams_df, managers_df)
    except FileNotFoundError:
        print(f"File not found: {filepath}")
    except UnicodeDecodeError:
        print(f"Encoding error while reading the file: {filepath}")
        print(f"Used {encoding[0]} encoding, will try to read the file again with {encoding[1]} encoding.")
        try : 
            teams_df = pd.read_csv(teams_filepath, sep=',', encoding=encoding[1])
            managers_df = pd.read_csv(managers_filepath, sep=',', encoding=encoding[1])
            return (teams_df, managers_df)
        except Exception as e:
            print(f"An error occurred: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")  
    return (teams_df, managers_df)

Overwriting read_sport_dfs.py

In [475]:
# Use the loading function with the file paths. Replace '...' with the correct paths. They should reside in your current working directory.
%run read_sport_dfs.py
# Here the correct arguments should be added
teams, managers = read_sport_dfs('Teams.csv', 'Managers.csv')
print(teams.head())
print(managers.head())

       yearID lgID teamID franchID divID  Rank   G  Ghome   W   L  ...  DP  \
0  1871-12-21  NaN    BS1      BNA   NaN     3  31    NaN  20  10  ... NaN
1  1871-09-07  NaN    CH1      CNA   NaN     2  28    NaN  19   9  ... NaN
2  1871-06-12  NaN    CL1      CFC   NaN     8  29    NaN  10  19  ... NaN
3  1871-02-13  NaN    FW1      KEK   NaN     7  19    NaN   7  12  ... NaN
4  1871-08-06  NaN    NY2      NNA   NaN     5  33    NaN  16  17  ... NaN

     FP                     name                          park  attendance  \
0  0.83     Boston Red Stockings           South End Grounds I         NaN
1  0.82  Chicago White Stockings       Union Base-Ball Grounds         NaN
2  0.81   Cleveland Forest Citys  National Association Grounds         NaN
3  0.80     Fort Wayne Kekiongas                Hamilton Field         NaN
4  0.83         New York Mutuals      Union Grounds (Brooklyn)         NaN

   BPF  PPF  teamIDBR  teamIDlahman45  teamIDretro
0  103   98       BOS             BS1          BS1
1  104  102       CHI             CH1          CH1
2   96  100       CLE             CL1          CL1
3  101  107       KEK             FW1          FW1
4   90   88       NYU             NY2          NY2

[5 rows x 48 columns]
         managerID  yearID teamID lgID  inseason   G   W   L  rank plyrMgr
0    wr ighha0 1m     1871    BS1  NaN         1  31  20  10     3       Y
1      woodji0 1m     1871    CH1  NaN         1  28  19   9     2       Y
2  p ab o r c h01m    1871    CL1  NaN         1  29  10  19     8       Y
3       lennobi01m    1871    FW1  NaN         1  14   5   9     8       Y
4   de an e ha01 m    1871    FW1  NaN         2   5   2   3     8       Y

#### 19) Create the **`go_sports`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function **returns a DataFrame containing only the team name, its managerID, the year (yearID) in the ```yyyy``` format, the number of wins (`W`) per team and team number of losses (`L`) per team.**

In [476]:
%%writefile go_sports.py
import pandas as pd

def go_sports(teams: pd.DataFrame, managers: pd.DataFrame) -> pd.DataFrame:
    # Create a copy of the Dataframes so it does not modify the original references
    teams=teams.copy()
    managers=managers.copy()
    
    teams = teams[['teamID', 'name', 'yearID', 'W','L']]
    managers = managers[['teamID', 'yearID', 'managerID']]
    managers['managerID'] = managers['managerID'].str.replace(' ', '', regex=False)
    teams['yearID'] = pd.to_datetime(teams['yearID'])
    teams['yearID'] = teams['yearID'].dt.year.astype(str)
    managers['yearID'] = managers['yearID'].astype(str)
    
    teams_managers = pd.merge(
        teams,
        managers,
        how='left',
        on=['teamID', 'yearID']
    )
    
    return teams_managers[['teamID', 'yearID', 'name', 'managerID', 'W', 'L']]

Overwriting go_sports.py

#### Call your `go_sports` function with the `managers` and `teams` DataFrames below to view the results:

In [477]:
%run go_sports.py
# Here the correct arguments should be added
go_sports(teams , managers)

     teamID yearID                     name   managerID   W   L
0       BS1   1871     Boston Red Stockings  wrighha01m  20  10
1       CH1   1871  Chicago White Stockings   woodji01m  19   9
2       CL1   1871   Cleveland Forest Citys  paborch01m  10  19
3       FW1   1871     Fort Wayne Kekiongas  lennobi01m   7  12
4       FW1   1871     Fort Wayne Kekiongas  deaneha01m   7  12
...     ...    ...                      ...         ...  ..  ..
3269    ARI   2011     Arizona Diamondbacks  gibsoki01m  94  68
3270    SFN   2011     San Francisco Giants  bochybr01m  86  76
3271    LAN   2011      Los Angeles Dodgers  mattido01m  82  79
3272    COL   2011         Colorado Rockies  tracyji01m  73  89
3273    SDN   2011         San Diego Padres  blackbu02m  71  91

[3274 rows x 6 columns]

#### 20) Create the **`go_manager`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function first calls the `go_sports` function with managers and teams input and then saves the result in a variable called sports. Then, this function **returns the ID (`managerID`) as a correct string of the manager who has most wins (`W`) over their careers.**

In [ ]:
%%writefile go_manager.py
import pandas as pd
from go_sports import go_sports

def go_manager(teams: pd.DataFrame, managers: pd.DataFrame) -> str:
    
   # Step 1: Build the sports DataFrame
   sports = go_sports(teams, managers)

   teams = teams.copy()
   managers = managers.copy()

   most_wins = sports.groupby('managerID')['W'].sum().sort_values(ascending=False)
   print(most_wins)
   max_most_wins = most_wins.max()
   best_manager = most_wins[most_wins == max_most_wins].index[0]

   print('The manager with the most wins is: ')

   return best_manager

Overwriting go_manager.py

#### Call your `go_manager` function with the `managers` and `teams` DataFrames below to view the results:

In [479]:
%run go_manager.py
# Here the correct arguments should be added
go_manager(teams, managers)

managerID
mackco01m     3829
mcgrajo01m    3119
larusto01m    2851
coxbo01m      2529
torrejo01m    2429
              ...
allisdo01m       2
thompam99m       2
boydbi01m        2
millejo01m       0
smithbi01m       0
Name: W, Length: 674, dtype: int64
The manager with the most wins is:

'mackco01m'